# Rust / Cargo
/target
*.rs.bk
*.pdb

# Chocolatey
*.nupkg
*.zip

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~.nib

# Logs
*.log

# Environment
.env
.env.local
